use guix          \
    lua@5.3       \
    luarocks      \
    gcc-toolchain \
    libyaml       \
    perl          \
    make          \
    perl-uri      \
    rsync         \
    gettext       \
    cmark         \
    make \
    ruby

eval "$(luarocks path --bin)"

header=$(guix locate lua.h | grep lua@5.3 | awk '{print$2}')
path_add C_INCLUDE_PATH "${header%/lua.h}"
path_add LIBRARY_PATH "${header%/include/lua.h}/lib"

path=$(echo "$C_INCLUDE_PATH" | cut -d: -f2)
export YAML_LIBDIR=${path%/include}/lib

envrc=$(find_up .envrc)
export ROOT_DIR=${envrc%/.envrc}

export USE_GUIX=yes
