use guix \
    ruby@3.3 \
    lua@5.3 \
    python \
    python-levenshtein \
    python-translate-toolkit \
    luarocks \
    gcc-toolchain \
    libyaml \
    perl \
    perl-tidy \
    tidyall \
    perl-commonmark \
    perl-yaml-tiny \
    make \
    perl-uri \
    rsync \
    gettext \
    cmark \
    -L "$HOME/dotfiles/Guix/lib" \
    ruby-gettextpo

path_add PERL5LIB "$HOME/src/po4a.d/po4a/lib"
path_add PERL5LIB "translation/lib"

eval "$(luarocks path --bin)"

header=$(guix locate lua.h | grep lua@5.3 | ruby -e 'print gets.split[1]')
path_add C_INCLUDE_PATH "${header%/lua.h}"
path_add LIBRARY_PATH "${header%/include/lua.h}/lib"

path=$(echo "$C_INCLUDE_PATH" | cut -d: -f2)
export YAML_LIBDIR=${path%/include}/lib

envrc=$(find_up .envrc)
export ROOT_DIR=${envrc%/.envrc}

export REFS_JA_PATH=$PWD/translation/refs.ja.yaml

path_add RUBYLIB "$HOME/src/ruby-gettextpo/lib"
