/ja/Makefile
/ja/README.md
/ja/spec.cmark.txt
/ja/spec.html
/ja/spec.txt
/ja/tools/
/po/*.pot
/refs.ja.yaml
/refs.translatable.ja.yaml
/refs.translatable.yaml
/refs.yaml
/spec.txt
/tmp/
/po.refs/en.pot
